* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pokemonlogo {
    width: 400px;
    margin: 10px;
}

.loading img {
    width: 300px;
}

.wholePokeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding-bottom: 20%;
    min-height: 100vh;
    /* padding-bottom: 80vh; */
}

.pokeListGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.pokeListGridHidden {
    display: none;
}

.menuIsVisible {
    display: block;
}

.menuIsHidden {
    display: none;
}